.depend
*.full
*.debug
*.o
sock/daemon/cbsdd
sock/shell/cbsdsh
bin/cbsdsftp
bin/cbsdsftp6
bin/cbsdsh/.depend
bin/cbsdsh/builtins.c
bin/cbsdsh/builtins.h
bin/cbsdsh/cbsd
bin/cbsdsh/cbsd.debug
bin/cbsdsh/cbsd.full
bin/cbsdsh/mknodes
bin/cbsdsh/mksyntax
bin/cbsdsh/nodes.c
bin/cbsdsh/nodes.h
bin/cbsdsh/syntax.c
bin/cbsdsh/syntax.h
bin/cbsdsh/token.h
bin/cbsdssh
bin/cbsdssh6
bin/cfetch
misc/cbsd_dot
misc/cbsd_fwatch
misc/cbsdlogtail
misc/chk_arp_byip
misc/conv2human
misc/daemon
misc/dump_cpu_topology
misc/dump_iscsi_discovery
misc/elf_tables
misc/popcnttest
misc/pwcrypt
misc/resolv
misc/sqlcli
sbin/netmask
tools/bridge
tools/imghelper
tools/nic_info
tools/racct-statsd
tools/select_jail
tools/vale-ctl
